<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DataBinging</title>
</head>
<body>
    <main>
        <h1 v-show = "conectado">{{ mensaje }} </h1>
        <h2 v-if ="edad < 1"> Edad incorrecta</h2>
        <h2 v-else-if ="edad < 18"> Menor de edad</h2>
        <h2 v-else> Mayoy de edad </h2>

        <input type="text" v-model="mensaje">
        <input type="number" v-model="edad" value="0">

        <template v-if=conectado>
            <h4>kasndaned</h4>
            <li>
                <lu>
                    <a href="">salir</a>
                    <a href="">mensaje</a>
                    <a href="">arriba </a>
                    <a href="">abajos</a>
                </lu>
            </li>
            <lu>
                <li v-for="tarea in tareas">{{ tarea.nombre }}({{ tarea.prioridad }})</li>
                <li object v-for="(value, key, index) in persona">{{index}}-{{key}}:{{value}}</li>
            </lu>


            
        </template>
        <h2 v-else>No estás conectado </h2>
    </main>    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>     
</body>
</html>